# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
libraries
out
.vscode
.vs
x64
CMakeFiles

Engine.dir/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
Engine.sln
Engine.vcxproj
Engine.vcxproj.filters
ZERO_CHECK.vcxproj
material.txt
ZERO_CHECK.vcxproj.filters
cmake_install.cmake